<h1>Eat the burger!</h1>
<div class="container">
    <div class="row">
        <img src="/assets/img/hamburger.jpg" height=300px width=350px class="img-fluid col-6-md" alt="burger image">
        <div class="col-md-12"><h1>All the Burgers!!</h1></div>
    </div>

      
      <!-- Pass in data from burger_controller.js -->

      <div class="row">
        <div class="col-md-4">
        <!-- get all uneaten burgers -->
            {{#each burgers}}
              {{#unless this.devoured}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <p class="uneaten">{{this.id}}. {{this.burger_name}} {{ this.date}}
                        <input type="hidden" name="devoured" value="1">
                        <button class="btn-primary" type="submit">Eat It!!!</button></p>
                    </form>
                {{/unless}}
            {{/each}}
          </div>

          <div class="col-md-4">
          <!-- get all eaten burgers -->
            {{#each burgers}}
                {{#if this.devoured}}
                    <p class="eaten">{{this.id}}. {{this.burger_name}}</p>
                {{/if}}
            {{/each}}
          </div>
      </div>
</div>

<!-- Add a burger -->
<div class="container main-burger">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form add-burger" action="/" method="POST">
                <div class="form-group">
                    <label for="burger_name">Burger:</label>
                    <input type="text" id="burger_name" name="burger" placeholder="Bacon Burger">
                <button type="submit btn-primary">Submit a burger</button>
            </form>
        </div>
    </div>
</div>


